<form action="/edit/<%= object._id %>" method="post">
  
        <input type="text" name="en" placeholder="en" value="<%= object.en %>" id="">
        <br> <br>
        
        <input type="text" name="vn" placeholder="vn" value="<%= object.vn %>" id="">
        <br> <br>
        <button>sua</button>
   

    
</form>